<h2>Sign-in</h2>

<form method="POST">
  <input type="text" placeholder="Username" name="username" required>
  <input type="password" placeholder="Password" name="password" required>
  <button>Sign in</button>
</form>